
@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed:400,700');

h3.day {
    border: 7px dashed #fec4ff;
    padding: 4px;
    font-family: 'Oswald', sans-serif;
}

h1.title {
         font-family: 'Oswald', sans-serif;
           padding: 4px;
         border: 7px dashed #b5f1ff;
}

h2.desc {
        font-family: 'Oswald', sans-serif;
}

h4.desc2 {
        font-family: 'Oswald', sans-serif;
}
img {
    width: 50%;
    height: auto;
    margin: auto;
}
   

      
      
