
@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed:400,700');

title {
   border: 7px dashed #fec4ff;
   padding: 4px;
   font-family: 'Oswald', sans-serif;


h3.day {
    border: 7px dashed #fec4ff;
    padding: 4px;
    font-family: 'Oswald', sans-serif;
}
