@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed:400,700');


h1.title
{
    border: 7px dashed yellow;
    padding: 4px;
    font-family: 'Oswald', sans-serif;
}

.mini
{
    border-left: 4px solid yellow;
    padding-left: 20px;
    color: blue;
    font-family: 'Oswald', sans-serif;

}

img
{
    padding: 5px;
}

h2
{
    border-left: 4px solid blue;
    padding-left: 20px;
    padding: 20px;
    color: blue;
    font-family: 'Oswald', sans-serif;;

}

.subtitle
{
    padding:1px;
    color: blue;
    border: 20px yellow;
}

body
{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    border: none;
}
