<link href='https://fonts.googleapis.com/css?family=Anaheim' rel='stylesheet'>

h1.title
{
    border: 7px dashed red;
    padding: 4px;
    font-family: 'Anaheim';font-size: 22px;
}

.mini
{
    border-left: 4px solid red;
    padding-left: 20px;
    color: red;
    font-family: 'Anaheim';font-size: 22px;

}

img
{
    padding: 5px;
}

h2
{
    border-left: 4px solid red;
    padding-left: 20px;
    padding: 20px;
    color: red;
    font-family: 'Anaheim';font-size: 22px;

}

.subtitle
{
    padding:1px;
    color: black;
    border: 20px white;
}

body
{
    font-family: 'Anaheim';font-size: 22px;
    font-size: 20px;
    border: none;
}
