@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed:400,700');

body {
    background-color: #ffff93

}

h1.title
{
    border: 7px dashed #fec4ff;
    padding: 4px;
    font-family: 'Oswald', sans-serif;
}

.mini
{
    border-left: 4px solid #fec4ff;
    padding-left: 20px;
    color: #7d7cba;
    font-family: 'Oswald', sans-serif;

}

img
{
    padding: 5px;
}

h2
{
    border-left: 4px solid #fec4ff;
    padding-left: 20px;
    padding: 20px;
    color: #7d7cba;
    font-family: 'Oswald', sans-serif;;

}

.subtitle
{
    padding:1px;
    color: #7d7cba;
    border: 20px #fec4ff;
}

body
{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    border: none;
}
